.nav-align {
        display: flex;
        align-items: center;
}

.profile-dropdown{
        font-size: 30px;
}

.ezb-logo {
  	width:245px;
  	height:66px;
}

.navbar-text-color {
	color: #03A9F4 !important;
}

.selected {
	color: white !important;
	background-color: gray;
}

.navbar-border {
	border-bottom: 1px solid #D3D3D3;
}

#related{
	background-color: white;
	width:50%;
	float: left;
	float: left;
}

.navbar-height {
  	height: 95px;
}

.navbar{
  	background:white;
}

.well {
 background-color: rgba(245, 245, 300, 0.4);
}

body {
font-family: Arial;
}

.billboard-header {
	font-size: 56px;
}

.billboard-images {
	width:139px;
  	height:100px;
}

.actions {
	font-size: 25px;
	padding-left: 2%;
	paddign-right: 2%;
	color: gray;
}

#info-image{
	width: 1024px;
	height: 512px;
}

#request-image-header {
        width: 1024px;
        height: 512px;
}


.open {
	background-color: green;
  	color: white;
}

.selected-package {
 	background-color: #708090;
        color: white;
}

#billboards-header{
        font-size: 56px;
        font-weight: bold;
}

.tabs-text-color {
    color: #03A9F4 !important;
}

#billboard-img-tag{
	width: 300px;
	display:block;
    	margin:auto;
}
