.nav-align {
        display: flex;
        align-items: center;
}

.profile-dropdown{
        font-size: 30px;
}

.ezb-logo {
    width:245px;
    height:66px;
}

.navbar-border {
        border-bottom: 1px solid #D3D3D3;
}

.navbar-height {
    height: 95px;
}

.navbar{
    background:white;
}

.editTable{
  text-align: center;
  width: 20%;
  background-color: #1F589E;
  color: white;
}


.modal-dialog{
  width: 90%;
}

.navbar-text-color {
    color: #1588C7 !important;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

#logs-header{
	font-size: 56px;
        font-weight: bold;
}

.clickable:hover{
        cursor: pointer;
}

