.nav-align {
        display: flex;
        align-items: center;
}

.profile-dropdown{
        font-size: 30px;
}

.navbar-border {
        border-bottom: 1px solid #D3D3D3;
}

.well{
 background:#bdbdbd;
 width: 90%;
 margin-left: auto;
 margin-right: auto;

}
.ezb-logo {
    width:245px;
    height:66px;
}

.navbar{
    background:white;
}

.navbar-height {
    height: 95px;
}

.active {
  background-color: #03A9F4;
  color: white;
}

.navbar-text-color {
    color: #03A9F4 !important;
}

.well.col-lg-4{
  width: 80%;
}

.jumbo { 
padding: 2% 1% 2% 1%;
margin-bottom: 10px;
margin-top: 10px;
margin-left: 2px;
margin-right: 2px;
font-size: 18px;
font-weight: 200;
line-height: inherit;
outline-width: thin;
outline-style: solid;
border-radius: 6px;
outline-color: #eeeeee;
color: #fffff1f;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.jumbo-padding{
	padding-left: 5%;
	padding-right: 5%;
}

th{
  text-align: center;
  width: 20%;
  background-color: #607d8b;
}

#settings-header{
	font-size: 56px;
	font-weight: bold;
}

.headers{
	color: white;
}
