/* Approver Requests View CSS */
.navbar{
    background:white;
}

.nav-align {
        display: flex;
        align-items: center;
}

hr {
	border-top: 1px solid #BDBDBD;
}

.navbar-text-color {
	color: #03A9F4 !important;
}

.navbar-border {
	border-bottom: 1px solid #BDBDBD;
}

.navbar-height {
	height: 95px;
}

.ezb-logo {
	width:245px;
	height:66px;
}

.profile-dropdown {
	font-size: 30px;
}

.checkbox-text {
	font-size: 16px;
	font-weight: normal;
}

.image-info-text {
	padding:0.5%;
	margin:0;
	font-size: 16px;
}

.contents-height {
	height: 550px;
}

.request-queue-images {
	width: 100px;
	height: 69px;
}

.profile-button {
	color: white;
	background-color: gray;
}

.image-row {
	display: flex;
	align-items: center;
}

.profile-modal-body {
	background-color: #607D8B;
	padding-top: 0.5% !important;
}

.profile-modal-user {
	font-size: 40px;
	color: #666666;
}

.profile-modal-header {
	display: flex;
	align-items: center;
}

.profile-modal-remove {
	font-size: 30px;
	color: black;
}

.profile-modal-body-headers {
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.profile-modal-body-info {
	font-size: 16px;
	color: white;
}

.profile-modal-facebook {
	font-size: 35px;
	color: #3B5998;
}

.profile-modal-instagram {
	font-size: 35px;
	color: #E95950;
}

.profile-modal-twitter {
	font-size: 35px;
	color: #33CCFF;
}

.profile-modal-footer {
	display: flex;
	align-items: center;
}

.request-queue-info {
	display: flex;
	align-items: center;
}

li>a:hover {
  color: white;
}

.pre-scrollable {
    max-height: 750px;
    overflow-y: scroll;
}

#request-image{
	height: 500px;
}

#request-images{
        height: 500px;
}

.approver-btns{
	color: white !important;
	background-color: #607D8B !important;
}

.active{
        background-color: #607D8B !important;
	border-color: #607D8B !important;
}

.centered-modal.in {
    display: flex !important;
}

.centered-modal .modal-dialog {
    margin: auto;
}

