/* Approver processed requests View CSS */

body {
	background-color: #E0E0E0;
}

hr {
	border-top: 1px solid #BDBDBD;
}

.navbar-text-color {
	color: #03A9F4 !important;
}

.selected {
	color: white !important;
	background-color: gray;
}

.navbar-border {
	border-bottom: 1px solid #BDBDBD;
}

.navbar-height {
	height: 85px;
}

.ezb-logo {
	width:245px;
	height:66px;
}

.user-dropdown {
	color: gray;
}

.profile-dropdown {
	font-size: 25px;
}

li>a:hover {
  background-color: gray !important;
  color: white;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}


/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.processed-requests-images {
	width: 100px;
	height: 75px;
}


.table tbody  {
	background-color: #E0E0E0;
}

.image-row {
	display: flex;
	align-items: center;
}

.profile-email {
	font-size: 16px;
	font-weight: bold;
}

.profile-modal-body {
	background-color: #BDBDBD;
	padding-top: 0.5% !important;
}

.profile-modal-user {
	font-size: 40px;
	color: #666666;
}

.profile-modal-header {
	display: flex;
	align-items: center;
}

.profile-modal-ok {
	color: white;
	background-color: #616161;
}

.profile-modal-remove {
	font-size: 30px;
	color: black;
}

.profile-modal-body-headers {
	font-size: 16px;
	font-weight: bold;
}

.profile-modal-body-info {
	font-size: 16px;
	color: #616161;
}

.profile-modal-facebook {
	font-size: 35px;
	color: #3B5998;
}

.profile-modal-instagram {
	font-size: 35px;
	color: #E95950;
}

.profile-modal-twitter {
	font-size: 35px;
	color: #33CCFF;
}

.profile-modal-footer {
	display: flex;
	align-items: center;
}
