/* Publisher history View CSS */
.navbar{
    background:white;
}

.nav-align {
        display: flex;
        align-items: center;
}

hr {
	border-top: 1px solid #BDBDBD;
}

.navbar-text-color {
	color: #03A9F4 !important;
}

.navbar-border {
	border-bottom: 1px solid #BDBDBD;
}

.navbar-height {
	height: 95px;
}

.ezb-logo {
	width:245px;
	height:66px;
}

.profile-dropdown {
	font-size: 30px;
}

li>a:hover {
  color: white;
}

.processed-requests-images {
	width: 139px;
	height: 100px;
}


th{
  text-align: center;
  background-color: #607d8b;
  color:white;

}

#history-header{
	font-size: 56px;
	font-weight:bold;
}
