
.ezb-logo {
    width:245px;
    height:66px;
}

.selected {
        color: white !important;
        background-color: gray;
}

.navbar-border {
        border-bottom: 1px solid #BDBDBD;
}

.navbar-alignment {
        display: flex;
        align-items: center;
}

#related{
background-color: white;
width:50%;
float: left;
float: left;
}

.navbar-height {
    height: 85px;
}

.navbar{
    background:white;
}


.background{
height: 245px;
width: 955px;
}

#closeBtn{
  background-color: #616161;
    color: white;

}

.request{
  background-color: #4caf50;
        color: white;
}

.register{
      background-color: #03A9F4;
        padding: 10px 10px;
      font-size: 15px;
      border-radius: 8px;
}


.navbar-text-color {
    color: #03A9F4 !important;
}

.well {
   background-color: rgba(245, 245, 300, 0.4);
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

strong{
    margin-left: 120px;
}

#requests-header {
        font-size: 56px;
	font-weight: bold;
}

.request-images {
	width: 139px;
	height: 82px;
}
