.ezb-logo {
    width:245px;
    height:66px;
}

.navbar-border {
        border-bottom: 1px solid #D3D3D3;
}

.nav-align {
        display: flex;
        align-items: center;
}

#related{
	background-color: white;
	width:50%;
	float: left;
	float: left;
}

.navbar-height {
    height: 85px;
}

.navbar{
    background:white;
}

.navbar-text-color {
    color: #1588C7 !important;
}

.ezb-btn{
        color: white;
        background-color: #1588C7;
}

.ezb-btn:hover{
        color:white;
        background-color:#1588C7;
}

.profile-dropdown{
        font-size: 30px;
}

.footer-border {
        border-top: 1px solid #D3D3D3;
}

#related{
        width: 40%;
        margin-left:10%;
}

#account-header{
	font-size:56px;
	font-weight: bold;
}

.align{
        justify-content: center;
        display: flex;
        align-items: center;
}

