.ezb-logo {
  width:245px;
  height:66px;
}

.navbar-text-color {
        color: #1588C7 !important;
}

.navbar-border {
        border-bottom: 1px solid #D3D3D3;
}

.nav-align {
        display: flex;
        align-items: center;
}

.navbar-height {
  height: 85px;
  margin-bottom:0px;
}

.navbar{
  background:white;
}

#related{
    background-color: white;
    width:50%;
    float: left;
    float: left;
    }
    
.well{
        background:#9e9e9e;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    
}
    
#btn-register{
        color: white;
        background-color: #1588C7;
}

.profile-dropdown{
        font-size: 30px;
}

#rectory{
        width: 100%;
        height: 650px;
	margin: 0;
	padding:0;
}

#about-header{
	font-size: 56px;
	font-weight: bold;
}

.footer-border {
        border-top: 1px solid #D3D3D3;
}

#related{
        width: 40%;
        margin-left:10%;
}

.centered-modal.in {
    display: flex !important;
}

.centered-modal .modal-dialog {
    margin: auto;
}

.align{
        justify-content: center;
        display: flex;
        align-items: center;
}

hr{
        color: #D3D3D3;
        margin: 0;
}

