.ezb-logo {
  width:245px;
  height:66px;
}

#related{
	background-color: white;
	width:50%;
	float: left;
	float: left;
}

.nav-align {
        display: flex;
        align-items: center;
}

.navbar-border {
        border-bottom: 1px solid #D3D3D3;
}

.navbar-height {
  	height: 85px;
	margin-bottom: 0px;
}

.navbar{
  background:white;
}

.navbar-text-color {
  color: #1588C7 !important;
}

.home-wells {
	background-color: white;
	padding: 2% 1% 2% 1%;
        -webkit-border-radius: 20px;
	weight: 150px;
	height: 275px;
}

.jumbotron{
	background: rgba(0, 0, 0, 0.60)!important;
	width: 500px;
	heigth: 300px;
	padding: 2% 1% 2% 1%;
	-webkit-border-radius: 20px;
}

.centered {
	position: absolute;
 	top: 45%;
 	left: 80%;
 	transform: translate(-50%, -50%);
}

#btn-register{
        color: white;
        background-color: #1588C7;
}

.clickable:hover{
	cursor: pointer;
}

.home-btn{
        color: white;
        background-color: #1588C7;
}

.home-btn:hover{
	color:white;
	background-color:#1588C7;
}


.profile-dropdown{
        font-size: 30px;
}

.footer-border {
        border-top: 1px solid #D3D3D3;
}

#related{
        width: 40%;
        margin-left:10%;
}

.centered-modal.in {
    display: flex !important;
}


.centered-modal .modal-dialog {

    margin: auto;
}

.align{
        justify-content: center;
        display: flex;
        align-items: center;
}

hr{
        color: #D3D3D3;
        margin: 0;
}

#home-billboard{
        width: 100%;
        height: 650px;
        margin: 0;
        padding:0;
}

.home-icon{
	font-size: 75px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.home-wells-text{
	margin-top: 8px;
	margin-bottom: 20px;
}
