#OfficeHours{
    color: white;
    
}

.well{
    background:#9e9e9e;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}

.row{
    background:#9e9e9e;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

p{
    color: white;
}

h4{
    color: white;
}

tittle{
    color: white;
}

#numbers{
    color: white;
}

strong{
    margin-left: 120px;
}


