
.ezb-logo {
  width:245px;
  height:66px;
}


#related{
background-color: white;
width:50%;
float: left;
float: left;
}

.navbar-height {
  height: 85px;
}

.navbar{
  background:white;
}


.background{
height: 245px;
width: 955px;
}

.active {
background-color: #03A9F4;
color: white;
}

#closeBtn{
background-color: #616161;
  color: white;

}

.request{
background-color: #4caf50;
      color: white;
}

.register{
    background-color: #03A9F4;
      padding: 10px 10px;
    font-size: 15px;
    border-radius: 8px;
}


.navbar-text-color {
  color: #03A9F4 !important;
}

.well {
 background-color: rgba(245, 245, 300, 0.4);
}

body {
font-family: Arial;
}

* {
box-sizing: border-box;
}

.column {
float: left;
width: 33.33%;
padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}

form.example input[type=text] {
padding: 10px;
font-size: 17px;
border: 1px solid grey;
float: left;
width: 76%;
background: white;
}

form.example button {
float: left;
width: 5%;
padding: 10px;
background: #2196F3;
color: white;
font-size: 17px;
border: 1px solid grey;
border-left: none;
cursor: pointer;
}

form.example button:hover {
background: #0b7dda;
}

form.example::after {
content: "";
clear: both;
display: table;
}

.glyphicon{
color: green;
font-size: 250%;

}

.glyphicon-info-sign{
color: #14268b;
  padding-right: 20px;

}

.glyphicon-calendar{
    color: gray;
      font-size: 100%;
}

.glyphicon.glyphicon-envelope{
    font-size: 15px;
      color: gray;
}

.glyphicon.glyphicon-phone{
  font-size: 15px;
  color: gray;
}

.glyphicon.glyphicon-user{
    font-size: 15px;
      color: gray;
}

.glyphicon.glyphicon-phone{
    font-size: 15px;
      color: gray;
}


.img-responsive.Artwork1-logo{
  width: 40%;
  height: 15%;
}


/* The container */
.container {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}


p{
font-size: 20px;
}

strong{
  margin-left: 120px;
}

.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

float: left;

}



