#OfficeHours{
    color: white;

}

.well{
    background:#9e9e9e;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.row{
    width: 100%;
    margin-left: auto;
  margin-right: auto;
}

.label.label-default{
  color: #9e9e9e;
}

p{
    color: white;
}

h4{
    color: white;
}

tittle{
    color: white;
}

#numbers{
    color: white;
}

td{
width: 20%
}

#related{
background-color: white;
width:50%;
float: left;
float: left;
}

.well{
    background:#9e9e9e;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.ezb-logo {
    width:245px;
    height:66px;
}

.navbar{
    background:white;
}

.active {
  background-color: #03A9F4;
  color: white;
}

.navbar-text-color {
    color: #03A9F4 !important;
}

.navbar-height {
    height: 85px;
}


.img-responsive.Artwork1-logo{
  width: 80%;
    height: 40%;
}



.img-responsive.Artwork2-logo{
    width: 80%;
    height: 10%;
}

.visit{
  margin-left: 120px;
}


/* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


