hr{
	color: #D3D3D3;
	margin: 0;
}

.ezb-logo {
  width:245px;
  height:66px;
}

.navbar-text-color {
        color: #1588C7 !important;
}

.navbar-border {
        border-bottom: 1px solid #D3D3D3;
}

.nav-align {
        display: flex;
        align-items: center;
}

.align{
	justify-content: center;
        display: flex;
        align-items: center;
}

.navbar-height {
  height: 85px;
  margin-bottom:0px;
}

.navbar{
  background:white;
}

#office-hours{
    color: white;
}

#office-hours-well {
    margin-left: auto;
    margin-right: auto;
}

p{
    color: white;
}

h4{
    color: white;
}

tittle{
    color: white;
}

strong{
    margin-left: 120px;
}

.numbers {
    color: white;
}

.profile-dropdown{
        font-size: 30px;
}

#map{
	width: 100%;
	height: 650px;
}
.jumbo {
padding: 2% 1% 2% 1%;
margin-bottom: 10px;
margin-top: 10px;
margin-left: 2px;
margin-right: 2px;
line-height: inherit;
outline-width: thin;
outline-style: solid;
border-radius: 6px;
outline-color: white;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

#btn-register{
	color: white;
	background-color: #1588C7;
}

.footer-border {
        border-top: 1px solid #D3D3D3;
}

#related{
	width: 40%;
	margin-left:10%;
}

.centered-modal.in {
    display: flex !important;
}

.centered-modal .modal-dialog {
    margin: auto;
}

