#related{
background-color: white;
width:50%;
	float: left;
    float: left;
}

.well{
	background:#9e9e9e;
	width: 70%;
	margin-left: auto;
    margin-right: auto;
	
}

.row{
	background:#9e9e9e;
	width: 70%;
	margin-left: auto;
    margin-right: auto;
}
